# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mc198\Argonox Dropbox\Dukes Red\My PC (DESKTOP-6OL2S89)\Documents\GitHub\Sabortoother708Luminary.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
